<div class="container py-5">
  <div class="mb-4 d-flex justify-content-center">
    <h1>Project Order</h1>
  </div>
  
  <div class="form-group d-flex justify-content-end mr-3">
    <input type="text" class="form-control mr-3" placeholder="Enter search string" [(ngModel)]="strSearch">
    <button type="button" class="btn btn-primary text-capitalize" (click)="refreshData()" [style.width.px]="120">Search</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <div class="d-flex justify-content-center p-5">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
        </div>
      </tr>
      <tr *ngFor="let item of orders; let i=index">
        <th scope="row">{{(pageInfo.current_page -1 )*pageInfo.per_page + i+1}}</th>
        <td>{{item.customer}}</td>
        <td>{{item.address1}}</td>
        <td>{{item.city}}</td>
        <td>{{item.country}}</td>
        <td>{{item.postcode}}</td>
        <td>{{item.amount}}</td>
        <td>
          <button type="button" class="btn text-capitalize"
            [ngClass]="item.status=='cancelled'?'btn-danger':'btn-primary'" 
            [disabled]="item.status=='cancelled'?true:false" 
            (click)="changeStatus(item)"
            [style.width.px]="120">
            {{item.status}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination (pageChanged)="pageChanged($event)" *ngIf="pageInfo" [totalItems]="pageInfo.total"
      [(ngModel)]="pageInfo.current_page"></pagination>
  </div>
</div>